:root {
    --primary-color: #202020;
    --secondary-color: #f4f7fc;
    --gray: #a6a6a6;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {}

h1,
h2,
h3 {
    font-weight: 800;
    color: var(--primary-color);
    margin: 1.6rem 0;
}

p {
    font-weight: 400;
    margin: 1.6rem 0;
    font-size: 1.6rem;
    color: var(--primary-color);
    line-height: 1.5;
}

h1 {
    font-size: 4rem;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 3rem;
        letter-spacing: 1.5px;
    }
    h3 {
        font-size: 2.3rem;
        letter-spacing: 1.5px;
    }
    * {
        text-decoration: none;
        margin: 1.6rem 0;
        font-size: 1.6rem;
        border-bottom: 2px dotted var(--primary-color);
    }
    h4 {
        font-size: 1.6rem;
    }
    span {
        color: var(--gray);
        font-size: 1.5rem;
    }
}

a {
    text-decoration: none;
    margin: 1.6rem 0;
    color: grey;
    font-size: 1.6rem;
    border-bottom: 2px dotted purple;
}

.site-container {
    width: 80%;
    margin: 0 auto;
    border: 1px solid red;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    margin: 16px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.menu a {
    margin-left: 5px;
    border-bottom: none;
    font-weight: 700;
}

.mobile-menu {
    display: none;
}

@media only screen and (max-width: 768) {
    .mobile-menu {
        display: block;
        font-size: 24px;
    }
    .menu {
        position: absolute;
        background-color: red;
        width: 100%;
        top: 100%;
        z-index: 99;
        display: none;
    }
    .menu a {
        padding: 32px 0;
        font-size: 10px;
        display: block;
    }
    .show {
        display: block;
    }
}

.Hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
    border: 1px solid blue;
}

.Hero .left {
    background-image: url(image/flower.jpg);
    background-size: cover;
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
}

.Hero .right {
    background-color: #c8d366;
}

.Hero .inner {
    position: absolute;
    background-color: white;
    width: 32%;
    top: 50%;
    left: 65%;
    padding: 32px;
    transform: translate(-40%, -50%);
}

@media only screen and (max-width: 768px) {
    .Hero {
        grid-template-columns: 1fr;
    }
    .Hero .inner {
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 48px;
    margin-top: 40px;
}

.blog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.blog .thumbnail {
    object-fit: contain;
}

.blog-post {
    background-color: var(--secondary-color);
    margin: 25px 0;
    padding: 15px 0;
}

.blog-content {
    margin-top: 25px;
}

.pagination {
    display: inline-block;
}

.pagination .active {
    border: var(--primary-color);
    background-color: var(--secondary-color);
}

.pagination a {
    float: left;
    padding: 8px 16px;
    color: var(--primary-color);
    text-decoration: none;
    border: 0;
}

@media only screen and (max-width: 768px) {
    .blog {
        grid-template-columns: 1fr;
    }
}


/* ASIDE */

.wrapper {
    display: flex;
    align-items: center;
}

.wrapper .thumb {
    flex: 1;
}

.wrapper .contents {
    flex: 2;
    padding: 16px;
}

.wrapper p,
span,
a {
    font-size: 1.2rem;
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .site-container {
        width: 100%;
        padding: 0 25px;
    }
    main {
        grid-template-columns: 1fr;
    }
    .wrapper {
        margin: 20px 0;
    }
}

footer {
    background-color: #212124;
    margin-top: 100px;
    padding: 100px 0;
}

footer h2 {
    color: white;
}

footer p,
span,
a {
    color: #9b9ca1;
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auth;
    grid-gap: 16px;
    justify-items: center;
}

footer hr {
    margin: 60px 0;
}

.footer-bottom {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.footer-menu li {
    list-style-type: none;
    display: inline-block;
    margin-right: 15px;
}

.social-icons {
    font-size: 100px;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
    padding: 8px;
}

@media only screen and (max-width: 768px) {
    .footer-top {
        grid-template-columns: 1fr;
        justify-items: start;
    }
    footer h2 {
        font-size: 16px;
    }
}

.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    background-color: #c8d366;
    color: #fff;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 20px;
    font-weight: 800;
}